@font-face {
    font-family: "Gotisch";
    src: url("assets/Font/ds-caslon-gotisch/DSCaslonGotisch.ttf") format("truetype");
}

@font-face {
    font-family: "Angel";
    src: url("assets/Font/beyond-wonderland/Beyond\ Wonderland.ttf") format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#scroll-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; 
}


.section {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    position: relative; 
}

.bg-link {
    position: absolute;
    bottom: 10px;             
    right: 10px;              
    color: white;            
    font-size: 18px;
    text-decoration: none;
    background: rgba(0,0,0,0.5);  
    padding: 5px 10px;
    border-radius: 5px;
}


#sec1 { background: #ececec; }
#sec2 { background: #dfdfdf; }
#sec3 { background: #d2d2d2; }
#sec4 { background: #c5c5c5; }
#sec5 { background: #b8b8b8; }
#sec6 { background: #969595; }
#sec7 { background: #7c7c7c; }

.section#sec1 {
    position: relative;
    overflow: hidden; 
    width: 100vw;
    height: 100vh;
}

.section#sec2 {
    position: relative;
    overflow: hidden;  
    width: 100vw;
    height: 100vh;
}

.section#sec2 .section-bg {
    position: absolute;
    top: 50%;             
    left: 50%;
    width: 100%;
    height: 150%;
    transform: translate(-50%, -65%);
    object-fit: cover;   
    object-position: center; 
    z-index: 0;
}

.section#sec3 {
    position: relative;
    overflow: hidden;  
    width: 100vw;
    height: 100vh;
}

.section#sec3 .section-bg {
    position: absolute;
    top: 50%;             
    left: 50%;
    width: 100%;
    height: 130%;
    transform: translate(-50%, -40%);
    object-fit: cover;   
    object-position: center; 
    z-index: 0;
}


.section#sec4 {
    position: relative;
    overflow: hidden; 
    width: 100vw;
    height: 100vh; 
}

.section#sec4 .section-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 130%;  
    transform: translate(-50%, -60%);
    object-fit: cover;
    object-position: center; 
    z-index: 0;
}


.section#sec5 {
    position: relative;
    overflow: hidden;  
    width: 100vw;
    height: 100vh;
}

.section#sec5 .section-bg {
    position: absolute;
    top: 0;             
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;   
    object-position: center; 
    z-index: 0;
}

.section#sec6 {
    position: relative;
    overflow: hidden;  
    width: 100vw;
    height: 100vh;
}

.section#sec6 .section-bg {
    position: absolute;
    top: 0;             
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;   
    object-position: center; 
    z-index: 0;
}

.section#sec7 {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.section#sec7 .frame {
    position: absolute;
    width: 50%;       
    height: 33.33%;   
    overflow: hidden;
}


.section#sec7 .frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.section#sec7 .frame1 { top: -20vh; left: 0;  height: calc(33.33vh + 20vh);}
.section#sec7 .frame2 { top: calc(33.33vh); left: 0;  height: calc(33.33vh + 30vh);}
.section#sec7 .frame3 { top: calc(66.66vh); left: 0; height: calc(33.33vh + 30vh);}
.section#sec7 .frame4 { top: -50vh; right: 0; height: calc(33.33vh + 50vh);}
.section#sec7 .frame5 { top: calc(33.33vh); right: 0; }
.section#sec7 .frame6 {
    top: 66.66vh;
    right: 0;
    height: calc(66.66vh - 20vh);
    position: absolute;   
    overflow: hidden;     
}

.section#sec7 .frame6 img {
    position: absolute;
    top: -70%;           
    left: 0;
    width: 100%;
    height: auto;        
    min-height: 100%;   
}


.title-page {
    position: relative;       
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;         
}
.title-page img {
    width: 100%;
    height: 100%;
    object-fit: cover;        
    display: block;
    margin: 0;
}

.title-page h1 {
    position: absolute;     
    top: 20%;                
    left: 50%;               
    transform: translate(-50%, -50%); 
    font-family: "Gotisch", serif;
    font-size: 96px;
    color: #dfac2c;
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.74);
    margin: 0;
    pointer-events: none;     
}

.title-page h2 {
    position: absolute;       
    top: 30%;                 
    left: 50%;                
    transform: translate(-50%, -50%); 
    font-family: "Gotisch", serif;
    font-size: 72px;
    color: #dfac2c;
    text-shadow: 4px 4px 12px rgb(0, 0, 0, 0.74);
    margin: 0;
    pointer-events: none;    
}

.title-page h3 {
    position: absolute;       
    top: 40%;                 
    left: 50%;                
    transform: translate(-50%, -50%); 
    font-family: "Gotisch", serif;
    font-size: 96px;
    color: #dfac2c;
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.74);
    margin: 0;
    pointer-events: none;     
}

.title-page h4 {
    position: absolute;       
    top: 50%;                 
    left: 50%;                
    transform: translate(-50%, -50%); 
    font-family: "Angel", serif;
    font-weight: 500;
    font-size: 36px;
    color: #ffffff;
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.74);
    margin: 0;
    pointer-events: none;     
}





.nav-btn {
    position: fixed;
    bottom: 30px;                  
    background: black;
    color: white;
    border: none;
    font-size: 40px;
    padding: 20px;
    cursor: pointer;
    opacity: 0.7;
    z-index: 100;
    transform: translateX(-50%);   
}

.nav-btn:hover {
    opacity: 1;
}


.left {
    left: 45%;      
}


.right {
    left: 55%;      
}

.popup-btn {
    position: fixed;
    left: 50%;                   
    
    background: black;
    color: white;
    border: none;
    font-size: 32px;
    padding: 15px 30px;
    cursor: pointer;
    opacity: 0.7;
    z-index: 100;
}

.popup-btn:hover {
    opacity: 1;
}


.show {
    position: fixed;
    bottom: 70px; 

    
    left: 50%;
    transform: translateX(-50%);

    
    width: calc(10% - 100px); 
    

    font-size: 20px;
    padding: 10px 20px;

    background: black;
    color: white;
    border: none;
    opacity: 0.7;
    z-index: 100;
}


.hide {
    position: fixed;

    bottom: calc(70px - 50px); 

    left: 50%;
    transform: translateX(-50%);

    width: calc(10% - 100px); 

    font-size: 20px;
    padding: 10px 20px;
    background: black;
    color: white;
    opacity: 0.7;
    z-index: 100;
}


.popup-parchment {
    position: absolute;
    opacity: 0;
    z-index: 50;
    text-align: left;

    border: 5px solid rgb(48, 48, 44);
    border-radius: 12px;

    box-shadow:
        0 0 10px rgba(36, 33, 33, 0.13),
        0 0 20px rgba(0, 0, 0, 0.5);
}


.popup-parchment img {
    opacity: 0.8;
    display: block;
}



.parchment-text {
    font-family: "Angel", serif;
    font-size: 32px; 
    position: absolute;
    top: 10px;  
    left: 20px;
    right: 20px;


    width: auto;           
    max-height: 40vh; 

    

}

.parchment-text h1,
.parchment-text p {
    display: inline;
}

.parchment-text h1 {
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 6px;
    
}

.parchment-text p {
    font-size: 1em;
    letter-spacing: 2px;
    
    
}

.section.active .popup-parchment {
    opacity: 1;
}

.popup-left {
    position: absolute;
    top: 30%;
    left: 100px;
    width: 30vw;

    opacity: 0;
    pointer-events: none;

    transform: scaleY(0);        
    transform-origin: center;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.popup-left img { 
    width: 100%;           
    height: 100%;          
}

.popup-right {
    position: absolute;
    top: 30%;
    right: 100px;
    width: 30vw;

    opacity: 0;
    pointer-events: none;

    transform: scaleY(0);        
    transform-origin: center;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.popup-right img { 
    width: 100%;           
    height: 100%;          
}


.popup-top {
    transition: all 0.8s ease-out;
    top: -100vh;
    left: 200px;
    right: 200px;
}

.popup-top img {
    width: 100%;           
    height: 30vh;          
}


.popup-bottom {
    position: absolute;
    bottom: 150px;      
    left: 200px;
    right: 200px;

    transform: scaleX(0);    
    transform-origin: center; 
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;

    opacity: 0;             
}

.popup-bottom img {
    width: 100%;
    height: 30vh;
    display: block;
}

.popup-center {
    position: absolute;
    top: 200px;
    bottom: 200px;      
    left: 200px;
    right: 200px;

    transform: scaleX(0);    
    transform-origin: center; 
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;

    opacity: 0;             
}

.popup-center img {
    width: 100%;
    height: 100%;
    display: block;
}


.popup-top.active-popup {
    top: 50px;
}

.popup-left.active-popup {
    top: 100px;
    bottom: 100px;
    transform: scaleY(1);
}

.popup-right.active-popup {
    top: 100px;
    bottom: 100px;
    transform: scaleY(1);
}
.popup-bottom.active-popup {
    transform: scaleX(1);    
    opacity: 1;
}

.popup-center.active-popup {
    transform: scaleX(1);    
    opacity: 1;
}
